@use '../variables';
 @use '../mixins';

 .cta{
    background-color: variables.$primary-color;
    height: variables.$container-ls;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    div{
        width: 300px;
        height: variables.$container-height-ls;
        background-color: rgba(variables.$color-warning, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transition: transform 0.2s, box-shadow 0.2s;
        div:hover{
            transform: translateY(-5px);
            box-shadow: 0 6px 15px rgba(0,0,0,0.15);
        }
        img{
            height: 70px;
            width: auto;
            margin: variables.$spacing-lg;
            font-size: 3rem;
            color: #333;
            margin-bottom: 1rem;
        }
    }
 }

 .marcas-aliadas{
    background-color: rgba(variables.$color-warning, 0.1);
    height: variables.$container-ls;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: variables.$font-size-xl;
    .marcas-logos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    img{
        height: 60px;
        width: auto;
        margin: variables.$spacing-md;
        filter: grayscale(100%);
        opacity: 0.7;

        &:hover{
            filter: none;
            opacity: 1;
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }
 }